<mat-toolbar>
  <a class="anchor-link" [routerLink]="['/home']">Photo Cloud</a>
  <span fxFlex></span>
  <button style="background:#239051;color:white" [routerLink]="['/upload-file']" mat-raised-button>UPLOAD FILE</button>
  <span fxFlex="1"></span>

  <img [matMenuTriggerFor]="appMenu" *ngIf="userObj" style="height:40px;width:40px;border-radius:50%" [src]="userObj.image">
  <mat-menu #appMenu="matMenu">
    <button (click)="logout()" mat-menu-item>Logout</button>
  </mat-menu>


  <button *ngIf="!userObj" style="background:#1b90c1;color:white" [routerLink]="['/login']" mat-raised-button>SIGN UP /
    LOGIN</button>
</mat-toolbar>
