.home {
  background-image: url("/assets/home-background-2.jpg");
  height: 91%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}

.action-button {
  border: 1px solid;
  padding: 2px 4px;
  border-radius: 6px;
}
