<div class="home">

  <div *ngIf="!userObj || !files.length" fxLayout="column" style="height:90%" fxLayoutAlign="center center">
    <h1 style="color:white">Upload files and access them anytime and anywhere.</h1>
  </div>
  <div *ngIf="userObj" fxLayout="row wrap" style="padding:20px;">

    <mat-card *ngFor="let file of files" fxFlex="22" style="margin:18px;">

      <div>
        <img style="height:200px;width:100%;" src={{file.image}}>
      </div>
      <div fxLayout="row">
        <span><small>
            Date: {{file.date_created | date}}
          </small></span>

        <span fxFlex></span>
        <a style="color:black" [href]=file.image target="_blank">
          <mat-icon>remove_red_eye</mat-icon>
        </a>
        <span fxFlex="5"></span>
        <mat-icon (click)="deleteImage(file)" style="cursor:pointer">delete_outline</mat-icon>
      </div>

    </mat-card>

  </div>
</div>
