.file-upload {
  background-image: url("/assets/home-background-2.jpg");
  height: 91%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.upload-div {
  border: 2px dotted;
  padding: 15px;
  text-align: center;
}

.file-upload-button {
  padding: 2px;
}
