<div class="file-upload" fxLayout="row" fxLayoutAlign="center center">

  <div fxFlex="100" fxLayout="row" fxLayoutAlign="space-around center">
    <div fxFlex="50">
      <mat-card fxLayout="row">

        <div fxFlex class="upload-div">

          <img style="height:150px;" src="../../../assets/cloud-upload.png">
          <p>Choose File to Upload</p>
          <p>
            <input (change)="onImageUpload($event)" class="file-upload-button" type="file">
          </p>
          <button *ngIf="!uploadInProgress" mat-raised-button (click)="uploadFile()" [disabled]="!profilePicUploaded"
            color="primary"> Upload </button><br>
          <div fxLayout="row" fxLayoutAlign="center center" *ngIf="uploadInProgress" style="text-align:center">
            <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
          </div>

        </div>
      </mat-card>
    </div>
  </div>


</div>
