.login {
  background-image: url("/assets/home-background-2.jpg");
  height: 91%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}

.divider-line {
  border-left: 1px solid black;
  height: 100%;

}
