<div class="login" fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex="100">
    <div fxLayout="row" fxLayoutAlign="space-around center">
      <div fxFlex="70">
        <mat-card>
          <div style="padding:15px; border:2px dotted" fxLayout="row">
            <div fxFlex="45">
              <div style="text-align:center">
                <h2>LOGIN</h2>
              </div>
              <form [formGroup]="loginForm" (ngSubmit)="login()">
                <div mat-dialog-content>
                  <div fxLayout="row">
                    <mat-form-field fxFlex>
                      <input fxFlex matInput placeholder="Username" formControlName="username" id="login-username" type="text"
                        class="form-control">
                    </mat-form-field>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field fxFlex>
                      <input fxFlex matInput placeholder="Password" formControlName="password" id="login-password" type="password"
                        class="form-control">
                    </mat-form-field>
                  </div>
                </div>
                <div fxLayout="row">
                  <div fxFlex></div>
                  <button style="background:#239051;color:white" mat-raised-button type="submit" [disabled]="!loginForm.valid || isLoading">Login</button>
                </div>
              </form>
            </div>

            <div fxFlex="10" fxLayout="row" fxLayoutAlign="center center">
              <div class="divider-line"></div>
            </div>

            <div fxFlex="45">
              <div style="text-align:center">
                <h2>SIGN UP</h2>
              </div>
              <form [formGroup]="signUpForm" (ngSubmit)="signUp('user')">
                <div mat-dialog-content style="overflow: none;">
                  <div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row">
                    <mat-form-field fxFlex>
                      <input matInput placeholder="First Name" formControlName="firstName" id="firstName" type="text"
                        class="form-control">
                    </mat-form-field>
                    <span fxFlex="3"></span>
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Last Name" formControlName="lastName" id="lastName" type="text"
                        class="form-control">
                    </mat-form-field>
                  </div>
                  <div fxLayout="row">
                    <mat-radio-group formControlName="gender">
                      <mat-radio-button value="Male">Male</mat-radio-button>
                      <mat-radio-button value="Female">Female</mat-radio-button>
                    </mat-radio-group>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field fxFlex>
                      <input matInput placeholder="EmailId" formControlName="emailId" id="emailId" type="email" class="form-control">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Mobile Number" formControlName="mobile" id="mobile" type="text"
                        class="form-control">
                    </mat-form-field>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Username" formControlName="userName" id="username" type="text" class="form-control">

                    </mat-form-field>
                  </div>
                  <div fxLayout="row">
                    <mat-form-field fxFlex>
                      <input matInput placeholder="Password" formControlName="signupPassword" id="password" type="password"
                        class="form-control">
                    </mat-form-field>
                  </div>
                  <div fxLayout="column">
                    <label> Profile Picture<sup style="color: red">*</sup></label>
                    <br>
                    <input placeholder="Profile pic" (change)="onImageUpload($event)" id="signupImage" type="file"
                      class="form-control">
                  </div>
                </div>
                <br>

                <!-- <mat-checkbox formControlName="accept" class="example-margin" [ngStyle.sm]="{'font-size.px': 12}"
                  [ngStyle.xs]="{'font-size.px': 12}">
                  I accept terms and agreement
                </mat-checkbox> -->

                <div fxLayout.xs="column" fxLayout.sm="column" fxLayout.md="row" fxLayout.lg="row" fxLayout.xl="row">
                  <div fxFlex></div>
                  <button style="background:#239051;color:white" mat-raised-button [disabled]="signUpForm.invalid || disableBtn || !profilePicUploaded"
                    type="submit">Signup</button>

                </div>
              </form>

            </div>
          </div>
        </mat-card>
      </div>


    </div>
  </div>
</div>
